<% @subscriptions.each do |s| %>
  <li>
    <%= link_to s.variant.product.name, subscription_path( s ) %>
    (<%= s.state %>)
  </li>
<% end %>

<% if @subscription.length < 1 %>
  <div>
    You don't have any subscriptions setup at this time. <br />
  </div>
<% end %>
